@{
    ViewBag.Title = "Home";
}

<div class="text-center">
    <h1 class="display-5">CVMLabs - Welcome!</h1>
    <p class="lead">
        No more papers and Excel attendance logs. Create and store the registry in the web. Try it now!
    </p>
    <img src="~/img/intro.png" class="img-thumbnail mt-5" width="950" alt="...">
</div>


